---
import Base from "../layouts/base.astro";

import star_surfer from "/img/star_surfer.jpg";
import dog_1 from "/img/dog_1.jpg";
import ana_world from "/img/another_world_gate.jpeg";
import temple from "/img/rain_japan/temple_1";
---

<Base>
    <main>
        <div>
            <img src={star_surfer} alt="" />
            <a href="/collections/surfer"></a>
            <span>Surfer</span>
        </div>
        <div>
            <img src={dog_1} alt="" />
            <a href="/collections/dog"></a>
            <span>Dog</span>
        </div>
        <div>
            <img src={ana_world} alt="" />
            <a href="/collections/gates"></a>
            <span>Gates</span>
        </div>
        <div>
            <img src={temple} alt="" />
            <a href="/collections/rain_japan"></a>
            <span>Rain in Japan</span>
        </div>
    </main>
</Base>

<style>
    main {
        padding: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr));
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 10;
    }

    div {
        position: relative;
        display: grid;
        place-items: center;
        overflow: hidden;
    }

    div a::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    div > * {
        grid-area: 1 / 2;
    }

    div span {
        font-size: 15vh;
        transform: scale(0.8);
        font-weight: bolder;
        color: white;
        background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        pointer-events: none;
    }

    div:hover span {
        transform: scale(1);
        transition: all 0.1s ease-in-out;
    }

    @media only screen and (max-width: 600px) {
		div span {
            font-size: 9vh;
        }
	}
</style>
